@charset "UTF-8";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #a4d6d4;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

.login {
  background-color: #fff;
  position: absolute;
  width: 250px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 0 10px #0000001f;
  display: block;
  transition: width .3s;
}

.image {
  background: #a4d6d4 url(./../images/background-login.jpg) no-repeat;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.form {
  padding: 10px;
  display: block;
}

.form__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.form__description {
  font-size: 0.875rem;
}

.form__field-login,
.form__field-password {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 10px;
}

.form__field-login-input,
.form__field-password-input {
  background-color: #ffedec;
  border: 1px solid #b1736d;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.form__field-login-input:focus-within,
.form__field-password-input:focus-within {
  background-color: #fff;
}

.form__actions {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form__actions-submit {
  font-size: 1em;
  color: #b1736d;
  font-weight: bolder;
  width: 100%;
  padding: 4px;
  cursor: pointer;
  background-color: #fec8c4;
  outline: none;
  border: 1px solid #f0aea9;
  border-radius: 5px;
}

.login__icon, 
.password__icon {
  color: #b1736d;
}

.btn__link {
  text-decoration: none;
  justify-content: center;
  color: #b1736d;
  font-weight: bolder;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  background-color: #fec8c454;
  border: 1px solid rgb(238, 167, 162)54;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

.email__icon {
  margin-right: 5px;
}

.btn__link:hover {
  color: #b1736d;
  background-color: #fec8c47e;
}